# Cache
.npm

# Logs
*.log
*.log.*
npm-debug.log*

# Dependency
node_modules

# Environment
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Temp
*.tmp
*.tmp.*

# MacOs
._*
.DS_*
.DS_Store
.DS_Store?
.Trashes
Thumbs.db